* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 2em;
}

body {
    background: #FFFDF2;
    color: #222;
    font-family: "Antonio", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Anton", sans-serif;
}