/* DESTINATIONS */
.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  position: relative;
  display: grid;
}

.card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.card img,
.card span {
  grid-area: 1 / 1;
}

.card span {
  place-self: center;
  z-index: 1;
  color: white;
  padding: 1.3em 2.5em;
  border: 3px solid white;
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  transition:
    transform 0.4s ease-in-out,
    background 0.4s ease-in-out,
    border-radius 0.4s ease-in-out;
}

.card span:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.214);
  border-radius: 20px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .destinations {
    grid-template-columns: 1fr;
  }
}