.hero--home {
  height: 100vh;
}

/* INTRO */
.intro {
  max-width: 800px;
  padding: 40px;
  border-radius: 30px;
  margin: 0 auto;
}

.intro h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  margin: 3em auto 80px;
  padding: 0 20px;
}

.content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.content p {
  line-height: 1.6;
}

.content img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
